@using MySensei.Models
@model CourseUserViewModel
<section id="home-cta-bg">
    <div>
        Join us for FREE!
    </div>
    <div>
        <a href="@Url.Action("Register", "Account")"><div class="button">Sign Up!</div></a>
    </div>
</section>
<section id="home-item-boxes">
    <div class="item-box">
        <h1>Create an account for <span class="teal-emp">free!</span></h1>
        <a href="@Url.Action("Register", "Account")"><div id="home-item-icon-ca"></div></a>
        <h2>Join the biggest teacher-student community in Denmark!</h2>
    </div>
    <div class="item-box">
        <h1>Find a <span class="teal-emp">class!</span></h1>
        <a href="@Url.Action("Index", "Course")"><div id="home-item-icon-fc"></div></a>
        <h2>Browse our database of classes and join whichever class you are interested in!</h2>
    </div>
    <div class="item-box">
        <h1>Create a <span class="teal-emp">class!</span></h1>
        <a href="@Url.Action("Create", "Course")"><d><div id="home-item-icon-cc"></div></a>
        <h2>You have a skill you want to share with the world? Create a class and teach it to people!</h2>
    </div>
</section>
<section id="ft-courses">
    <div class="carousel-frame">
        <h1><span class="viol-emp">Featured</span>Courses</h1>
        <div id="ft-courses-carousel" class="owl-carousel">
            @{
                foreach (FtCourseViewModel ftc in Model.FtCourseViewModel)
                {
                   
                        <article class="item item-ft-c">
                            @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(ftc.ImageUrl) + "\" alt=\" Course Image\"  class=\" left\"  />")
                            <h2><a href="@Url.Action("Details", "Course", new { id = ftc.Id })">@ftc.Title</a></h2>
                            <p>@ftc.Description</p>
                            <div class="clear"></div>
                        </article>
                    
                }


            }
            
        </div>
    </div>
</section>
<section id="ft-teachers">

    <div class="carousel-frame">
        <h1><span class="teal-emp">Featured</span>Teachers</h1>
        <div id="ft-teachers-carousel" class="owl-carousel">
            @{
                foreach (FtTeacherViewModel ftt in Model.FtTeacherViewModel)
                {
                    
                        var img = ftt.ImageUrl;
                        var img2 = Convert.ToBase64String(img);
                           
                            <article class="item item-ft-t">
                                
                                @Html.Raw("<img src=\"data:image/jpeg;base64," + img2 + "\" alt=\" Course Image\"  class=\" left\"  />")
                                <h2>@ftt.name</h2>
                                <p>@ftt.Description</p>
                                <div class="clear"></div>
                            </article>

                    }


                        }



    </div>
</div>
</section>
<script type="text/javascript">
    //Features Courses //TODO: fix re-init
    var init_owls = (function () {
        var two_rows = true;
        if (jQuery(window).width() < 1024) {
            two_rows = false;
        }

        // $('#ft-courses-carousel').data('owlCarousel').destroy();

        var owl_ftc = jQuery('#ft-courses-carousel');
        owl_ftc.owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: ['<button class="left big-btn btn-violet"><</button>', '<button class="right big-btn btn-violet">></button>'],
            lazyLoad: true,
            owl2row: two_rows, // enable plugin
            owl2rowTarget: 'item-ft-c',    // class for items in carousel div
            owl2rowContainer: 'owl2row-item-ftc', // class for items container
            owl2rowDirection: 'utd', // ltr : directions
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                }
            }
        });
        var owl_ftt = jQuery('#ft-teachers-carousel');
        owl_ftt.owlCarousel({
            loop: true,
            margin: 10,
            nav: true,
            navText: ['<button class="left big-btn btn-teal"><</button>', '<button class="right big-btn btn-teal">></button>'],
            lazyLoad: true,
            owl2row: two_rows, // enable plugin
            owl2rowTarget: 'item-ft-t',    // class for items in carousel div
            owl2rowContainer: 'owl2row-item-ftt', // class for items container
            owl2rowDirection: 'utd', // ltr : directions
            responsive: {
                0: {
                    items: 1
                },
                600: {
                    items: 3
                }
            }
        });


    });
    jQuery(window).resize(function () {
        init_owls();

    })
    jQuery(document).ready(function () {
        init_owls();
    });
</script>