@using MySensei.Models
@model RegisterViewModel
<section id="register-form" class="reg-form">
    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        //Removed that text <h4>Create a new account.</h4>

        //We need to updated the Model to get rid of unnecessary messages
        @Html.ValidationSummary(true);

        @*<div class="reg-form-group"><div>
                    @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Fullname) })
                </div>
            </div>*@
        <div class="reg-form-input-wrap">
            <div class="reg-form-group">
                <div>
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                </div>
            </div>
            <div class="reg-form-group">
                <div>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                </div>
            </div>
            <div class="reg-form-group">
                <div>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmPassword) })
                </div>
            </div>
            <div class="reg-form-group">
                <div>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Email) })
                </div>
            </div>
            <div class="reg-form-group">
                <div>
                    @Html.TextBoxFor(m => m.ConfirmEmail, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.ConfirmEmail) })
                </div>
            </div>
            <div class="reg-form-group">
                <div>
                    <input type="submit" class="button" value="Sign Up" />
                </div>
            </div>
        </div>
    }
</section>