@using MySensei.Entities;
@model List<User>
<section id="admin-users">
    @{

        foreach (User u in Model)
        {

            <article class="item">
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(u.ProfilePicture) + "\" alt=\" Course Image\"  class=\" left\"  />")
                <h2>@u.Fullname</h2>
                <p>@u.Description</p>
                <a href="@Url.Action("Index", "Manage", new { Area = "", id = u.UserId })">Edit User</a>
                <a href="@Url.Action("Delete", "Manage", new { Area = "", id = u.UserId })">Delete User</a>
                <div class="clear"></div>
            </article>
        }

    }
    </section>