
<p class="text-success">@ViewBag.StatusMessage</p>
<center>
    <h4>Change your account settings</h4>
    <hr />
    <ul class="edit_profile">
        <li>
            <h4> Profile Picture</h4>
            <div>
                @{
                    if (ViewBag.ProfilePicture != null)
                    {
                        <article class="item">
                            @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(ViewBag.ProfilePicture) + "\" alt=\" Profile Picture\" />")
                        </article>
                    }
                    else
                    {
                        <article class="item">
                            <img src="~/Content/gfx/def_user.jpg" />
                        </article>
                    }
                }
            </div>
            @Html.ActionLink("Change", "ChangePassword")
        </li>
            <li class="divider"></li>
        <li>
            <h4>Email</h4>
            <div>
                @(ViewBag.Email != null ? ViewBag.Email : "Not provided")
            </div>
            @Html.ActionLink("Change your email", "ChangeEmail")
        </li>
            <li class="divider"></li>
        <li>
            <h4>Password</h4>
            @Html.ActionLink("Change your password", "ChangePassword")
        </li>
            <li class="divider"></li>
        <li>
            <h4>Description</h4>
            <div>@(ViewBag.Description != null ? ViewBag.Description : "Not provided")</div>
            @Html.ActionLink("Change description", "ChangePassword")
        </li>
    </ul>


    @*//Delete Account*@
</center>
