@model MySensei.Models.IndexViewModel
@{
    ViewBag.Title = "Profile Page";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    @if (Model.User != null && Model.User.ProfilePicture != null)
    {
        <img src="@Url.Content(Model.User.ProfilePicture)" alt="Profile Picture" />
    }
    else
    {
        @Html.Raw("No profile picture");
    }
    <h4>Change your account settings</h4>
    <hr />
    <dl>
        <dt>Email:</dt>
        <dd>
            [
                @Html.ActionLink("Change your email", "ChangeEmail")
            ]
        </dd>
        <dt>Password:</dt>
        <dd>
            [
            @Html.ActionLink("Change your password", "ChangePassword")
            @*@if (Model.HasPassword)
            {
               
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }*@
            ]
        </dd>
    </dl>

    @*//Delete Account*@
</div>
