@using MySensei.Models;
@model IndexViewModel
<section id="user-info">
    <div class="left half">
        @{

            if (Model.User != null && Model.User.ProfilePicture != null)
            {
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.User.ProfilePicture) + "\" alt=\" Profile Picture\" />")
            }
            else
            {
                @Html.Raw("No profile picture");
            }
        }

    </div>
    <div class="right half">
        <h3 id="user-name">@Model.User.Fullname</h3>
        <div id="user-data">@Model.User.UserName</div>
        <div id="user-desc">@Model.User.Description</div>
        <div class="button"><a href="@Url.Action("EditProfile", "Manage", new { userId = Model.User.UserId })">Edit Profile</a></div>
    </div>
    <div class="clear"></div>
</section>

<secion id="user-courses">
    <div id="tabbedContainer" class="tabMe">
        <div class="tab" data-name="My Classes">
            @foreach (var item in Model.User.OfferedCourses)
            {
                <a href="@Url.Action("Details", "Course", new { id = item.CourseID })">
                    <article class="item">
                        @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Picture) + "\" alt=\" Course Image\"  class=\" left\"  />")
                        <h2>@item.Title</h2>
                        <p>@item.Description</p>
                        <div class="clear"></div>
                    </article>
                </a>
            }
        </div>
        <div class="tab" data-name="My Courses">
            @foreach (var item in Model.User.TakenCourses)
            {
                <a href="@Url.Action("Details", "Course", new { id = item.CourseID })">
                    <article class="item">
                        @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Picture) + "\" alt=\" Course Image\"  class=\" left\"  />")
                        <h2>@item.Title</h2>
                        <p>@item.Description</p>
                        <div class="clear"></div>
                    </article>
                </a>
            }
        </div>
    </div>
</secion>
<script>
    $('#tabbedContainer').tabMe();
</script>