@model MySensei.Models.CUViewModel
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<div>
    <h4>Course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CourseInView.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseInView.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseInView.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseInView.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseInView.ImageUrl)
        </dt>

        <dd>
            @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.CourseInView.ImageUrl) + "\" alt=\" Course Image\"  class=\" left\"  />");
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CourseInView.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CourseInView.Price)
        </dd>

    </dl>

</div>
<p>
    @{

        if (Model.isStudent)
        {
            @Html.ActionLink("Leave", "Leave", new { id = Model.CourseInView.Id })
        }
        else if (!Model.isTeacher)
        {
                @Html.ActionLink("Join", "Join", new { id = Model.CourseInView.Id })
        }


    }

</p>
