@model MySensei.Models.SearchCourseViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@*Here's where the search and the list of results should be*@

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@

@using (Html.BeginForm("Search", "Course", FormMethod.Post))
{
    <div class="form-group">
        <div>
            @Html.TextBoxFor(x => x.Query, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Query) })
            @Html.ValidationMessageFor(x => x.Query, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div>
            <input type="submit" value="Search" class="button" />
        </div>
    </div>
}

@if (Model.Query != null && Model.Query != "")
{
    @Html.Raw("Results for " + Model.Query);
}
<section id="course-search-results">
    @foreach (var item in Model.Courses)
    {

        <a href="@Url.Action("Details", "Course", new { id = item.CourseID })">
            <article class="item">
                @Html.Raw("<img src=\"data:image/jpeg;base64," + Convert.ToBase64String(item.Picture) + "\" alt=\" Course Image\"  class=\" left\"  />");
                <h2>@item.Title;</h2>
                <p>@item.Description</p>
                <div class="clear"></div>
            </article>
        </a>
            @*
        <td>
            @Html.DisplayFor(modelItem => item.Picture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>

            *@
            
    }

</section>
