<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scallable=no">
    <title>MySensei</title>
    <link href="@Url.Content("~/Content/css/normalize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/common.css")" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="@Url.Content("http://html5shim.googlecode.com/svn/trunk/html5.js")"></script>
        <script src="@Url.Content("http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")"></script>
    <![endif]-->
    @Styles.Render("~/Content/css")
    <meta name="description" content="MySensei Website" />
</head>
<body>
    <div id="root-container">
        <header>
            @*<a href="@Url.Action("Register", "Account")">*@
            <div id="nav-profile">
            </div>
            <a href="@Url.Action("Index", "Home")">
                <div id="logo">
                </div>
                </a>
                <nav id="menu-container">
                    <ul id="main-menu">
                        <a href="@Url.Action("Index", "Home")"><li>Home</li></a>
                        <a href="@Url.Action("Index", "Class")"><li>Join Class</li></a>
                        <a href="@Url.Action("Index", "Class")"><li>Create Class</li></a>
                      </ul>
                    <nav id="mobile-menu-container">
                        <div id="mobile-burger"></div>
                    </nav>
                </nav>
                <ul id="mobile-menu">
                    <a href="@Url.Action("Index", "Home")"><li>Home</li></a>
                    <a href="@Url.Action("Index", "Class")"><li>Join Class</li></a>
                    <a href="@Url.Action("Index", "Class")"><li>Create Class</li></a>
</ul>
                <div id="user-actions">
<!-- BEGIN LOGIN/REGISTER FORM -->
                    @using MySensei.Models
                    @model LoginViewModel
                   <h3>Login to your account</h3>
                 
                            <section id="login-form" class="form">
                                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div  class="form-group">
                                       
                                        <div>
                                            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Username) })
                                            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <div>
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = Html.DisplayNameFor(m => m.Password) })
                                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <div>
                                            <div>
                                                @Html.CheckBoxFor(m => m.RememberMe)
                                                @Html.LabelFor(m => m.RememberMe)
                                            </div>
                                        </div>
                                    </div>
                                    <div  class="form-group">
                                        <div>
                                            <input type="submit" value="Log in" class="button"/>
                                        </div>
                                    </div>
                                    <p>
                                        @Html.ActionLink("Don't have an Account yet? Register here.", "Register", "Account")
                                    </p>
                                    @* Enable this once you have account confirmation enabled for password reset functionality
                                        <p>
                                            @Html.ActionLink("Forgot your password?", "ForgotPassword")
                                        </p>*@
                                }
                            </section>
                        
<!-- END USER LOGIN FORM -->
                </div>
</header>
            <!-- Header container end -->
        <!-- Header end -->
        <!-- Start of RenderBody -->
        <div id="body-container">
            @RenderBody()
        </div>
        <!-- End of RenderBody -->
        <footer>
            <div class="foot-content-container">
                <div class="foot-title">Address</div>
                <ul>
                    <li>Sonderhoj 48</li>
                    <li>8260 Aarhus</li>
                    <li>Phone: 95 95 95 95</li>
                    <li>E-mail: contact@mysensei.dk</li>
                </ul>
            </div>
            <div class="foot-content-container">
                <div class="foot-title">Social Media</div>
                    <ul id="social-icons">
                        <a href="http://facebook.com/" target="_blank"><li id="fb">&nbsp;</li></a>
                        <a href="http://pinterest.com/" target="_blank"><li id="pin">&nbsp;</li></a>
                        <a href="http://twitter.com/" target="_blank"><li id="twit">&nbsp;</li></a>
</ul>
                </div>
        </footer>
       
        @Scripts.Render("~/bundles/jquery")
        <script src="@Url.Content("~/Content/js/common.js")"></script>
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
