<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scallable=no">
    <title>MySensei</title>
    <link href="@Url.Content("~/Content/css/normalize.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/common.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/responsive.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/css/owl.carousel.css")" rel="stylesheet" type="text/css" />
    <!--[if lt IE 9]>
        <script src="@Url.Content("http://html5shim.googlecode.com/svn/trunk/html5.js")"></script>
        <script src="@Url.Content("http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js")"></script>
    <![endif]-->
    @Scripts.Render("~/bundles/jquery")
    <script src="@Url.Content("~/Content/js/owl.carousel.min.js")"></script>
    <script src="@Url.Content("~/Content/js/owl.2row.plugin.js")"></script>
    <script src="@Url.Content("~/Content/js/tabMe.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.min.js"></script>
    @RenderSection("scripts", required: false)
    <meta name="description" content="MySensei Website" />
</head>
<body>

    <div id="root-container">

        @Html.Partial("_LoginPartial", new MySensei.Models.LoginViewModel())
        <header>      

            <div id="nav-profile">
            </div>
    
            <a href="@Url.Action("Index", "Home")">
                <div id="logo">
                </div>
                </a>
                <nav id="menu-container">
                    <ul id="main-menu">
                        <li><a href="@Url.Action("Create", "Course")">Create Class</a></li>
                        <li><a href="@Url.Action("Search", "Course")">Join Class</a></li>
                    </ul>
                    <nav id="mobile-menu-container">
                        <div id="mobile-burger"></div>
                    </nav>
                </nav>
                <ul id="mobile-menu">
                    <li><a href="@Url.Action("Create", "Course")">Create Class</a></li>
                    <li><a href="@Url.Action("Search", "Course")">Join Class</a></li>
</ul>
                
</header>
            <!-- Header container end -->
        <!-- Header end -->
        <!-- Start of RenderBody -->
        <div id="body-container">
            @RenderBody()
        </div>
        <!-- End of RenderBody -->
        <footer>
            <div class="foot-content-container">
                <div class="to-top">&nbsp;</div>
                </div>
            <div class="foot-content-container">
                <div>You have a skill you want to share with the world? Create a class and teach people how to do it!</div>
                
            </div>
            <div class="foot-content-container">
                
                <ul id="social-icons">
                    <li id="fb"><a href="http://facebook.com/" target="_blank">&nbsp;</a></li>
                    <li id="pin"><a href="http://pinterest.com/" target="_blank">&nbsp;</a></li>
                    <li id="twit"><a href="http://twitter.com/" target="_blank">&nbsp;</a></li>
                </ul>
            </div>
        </footer>
       
        
        
    </div>
    
    <script src="@Url.Content("~/Content/js/common.js")"></script>
    <script>
  var slideout = new Slideout({
      'panel': document.getElementById('root-container'),
      'menu': document.getElementById('user-actions'),
    'padding': 256,
    'tolerance': 70
  });

  jQuery('#nav-profile').click(function () {
      if (jQuery(window).width() < 768) {
          slideout.toggle();
      }
  })
    </script>


</body>
</html>
