@using Microsoft.AspNet.Identity
@using MySensei.Models
@model LoginViewModel


@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <div id="user-actions">
<br />
            <h2>Hello @User.Identity.GetUserName()!</h2>
            <ul id="user-action-mobile-menu">
                    <li>
       @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>

                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </div>
            <div id="user-actions-desktop">
                <ul id="user-action-menu">

                    <li>Hello @User.Identity.GetUserName()!</li>
                    <li>
                        @Html.ActionLink("My Account", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                    </li>

                    <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
                </ul>
            </div>

    }
}
else
{

            <div id="user-actions">
                <br />
                <ul id="user-action-mobile-menu">
                    <li><a href="@Url.Action("Login", "Account")">Sign In</a></li>
                    <li><a href="@Url.Action("Register", "Account")">Sign Up</a></li>
                </ul>

            </div>

            }
